* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

a {
  text-decoration: none;
}


body {
  background-color: #1c1f21;
}

header {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

header a {
  font-weight: 700;
  font-size: 38px;
  color: white;
}

main {
  min-height: calc(100vh - 200px);
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  height: 100%;
  padding: 24px 12px;
}

header,
footer {
  display: flex;
  align-items: center;
  background-color: #292D32;
  height: 100px;
  padding: 0px 48px;
  justify-content: space-between;
}

footer {
  margin-top: auto;
  -webkit-box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.2);
}

.footer__text {
  font-weight: 700;
  color: white;
  height: 21px;
}

.address__text {
  color: white;
  height: 18px;
}

.phone {
  text-decoration: underline;
}